<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='wuw.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='body.css')}}">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-4 fixed-top">
      <div class="container " >
        <a href="home" class="navbar-brand nme">Job Finder</a>
      </div>
      

      <a href="logout">  <button class="signup container-M  btn btn-primary btn bg-dark mx-3">
        SIGN OUT
      </button> </a>

                  </nav>

<div class="container search" style="margin-top:156px;">
  <label class="srch">SEARCH:</label>

      <input class="search1"type="search" placeholder="SEARCH HERE">
      <button type="button" class="searchbtn  btn btn-primary">Search</button>

    </div>

<div class=" bx container card py-3  mt-3">
  <p class="text-bold tax"> welcome to the best website for connecting employers and employees.
     search through many diffrent job advertisements or candidate profiles here on the website.
   start by browsing through suggested profiles or try searching for the job area you are looking for, to find your suitable candidate.  </p>

</div>

<div class=" sugp container-m mt-3">
  <h3 class="sugf">Suggested candidate profiles : </h3>

</div>


<div class="container-m card bg-dark profiles">

  <div class=" card card-body pf1 ">

    <img class="card-img-top meng" src="/static/person.jpg" alt="Card image cap">
    <div class="card-body">
     <a href="john" class="btn btn-primary explore">Profile</a>

     <h4 class="metex">John Doe</h4>
     <div class="card engtex">

     <p>intrested in the field of mechanical engineering, check out my profile please. </p>
    </div>

    </div>


  </div>



  <div class=" card card-body pf2 ">

    <img class="card-img-top meng" src="/static/person.jpg" alt="Card image cap">
    <div class="card-body">
     <a href="james" class="btn btn-primary explore">Profile</a>

     <h4 class="metex">James Doe</h4>
     <div class="card engtex">

     <p>intrested in the field of Accounting, check out my profile please. </p>
    </div>

    </div>

  </div>

  <div class=" card card-body pf1 ">

    <img class="card-img-top meng" src="/static/person.jpg" alt="Card image cap">
    <div class="card-body">
     <a href="jane" class="btn btn-primary explore">Profile</a>

     <h4 class="metex">Jane Doe</h4>
     <div class="card engtex">

     <p>intrested in the field of health, check out my profile please. </p>
    </div>

    </div>

  </div>

  <div class=" card card-body pf2 ">

    <img class="card-img-top meng" src="/static/person.jpg" alt="Card image cap">
    <div class="card-body">
     <a href="jack" class="btn btn-primary explore">Profile</a>

     <h4 class="metex">Jack Doe</h4>
     <div class="card engtex">

     <p>intrested in the field of Retail/business, check out my profile please. </p>
    </div>

    </div>

  </div>




</div>







</div>





</section>
  </body>
</html>
